*{margin: 0px; padding: 0px;}
body{background-color: #f9f9f9; height: 600px;}
#all{margin: 0 auto; width: 1024px; height: 560px;}
#top{padding:1px; background: #333; color: #ccc; font-family: "Trebuchet MS"; font-weight: bold; font-size: 16px;}
#center{width: 1024px; margin-top: 14px; height: 550px; background: #f1f1f1; border-radius:12px; box-shadow: 2px 2px 2px #999999;
font-family: "Trebuchet MS"; font-size: 14px;}
	span{overflow: hidden;}
	#center-top{margin: 0 auto; width: 1000px; height: 60px;}
	#sbv{padding: 4px; margin: 4px; float: left;}
	#confsair{float: right; padding: 4px; margin: 4px;}

#center-content{margin: 0 auto; width: 900px; height: 400px; background-color: #fff;}

#lista{margin: 0 auto; width: 780px; height:340px; overflow: auto;}
.titulo-tabela{background: #333; color: #e1e1e1; border-radius: 5px; text-align: center; width:840px;}
table{padding: 2px; font-size: 12px; color: #333; border-radius: 5px; margin: 0 auto; width: 760px;} /* antigo 840*/
	tr{padding: 2px; border-radius: 5px; text-align: right;}
	td{padding: 2px;}
	#tll{padding:2px; width: 340px; border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -webkit-border-radius: 10px; background-image:url('../img/fundo2.png'); border: 1px solid #ccc;}
	.mng{text-align: center;}
a{text-decoration: none; color: #555; font-weight: bold;}
	a:hover{color: #999; font-weight: bold;}

/*form{margin-left: 10px;}*/
#alt{margin: 0 auto; width: 350px; padding: 70px;}

#formulario{width: 400px;}
.fieldset { border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -webkit-border-radius: 10px; background-image:url('../img/fundo2.png'); border: 1px solid #ccc;}
.fieldset legend { font-size: 20px; }
/*table{padding: 2px;}
	tr{padding: 2px;}
	td{padding: 2px;}
*/
    #tb01{width: 300px;}
	#desc{width: 400px;}
	#marca{width: 400px;}
	#datafab{width: 134px;}

	#selecione{text-align: center;}
	.c1{text-align: right;}
	.c2{text-align: left;}
	a{text-decoration: none; color: #555; font-weight: bold;}
	a:hover{color: #999; font-weight: bold;}

.titulo-turma{background-color:#333; color:#e1e1e1; font-weight:bold; text-align:left;}
.titulo-turma1{background-color:#333; color:#e1e1e1; text-align:right;}
#nf{width:60px;}	