*{margin: 0px; padding: 0px;}
body{background-color: #f9f9f9; height: 600px;}
#all{margin: 0 auto; width: 1024px; height: 600px;}
#top{padding:1px; background: #333; color: #ccc; font-family: "Trebuchet MS"; font-weight: bold; font-size: 16px;}
#center{width: 1024px; margin-top: 14px; height: 600px; background: #f1f1f1; border-radius:12px; box-shadow: 2px 2px 2px #999999;
font-family: "Trebuchet MS"; font-size: 14px;}
	span{overflow: hidden;}
	#center-top{margin: 0 auto; width: 1000px; height: 60px;}
	#sbv{padding: 4px; margin: 4px; float: left;}
	#confsair{float: right; padding: 4px; margin: 4px;}

#center-content{margin: 0 auto; width: 900px; height: 450px; background-color: #fff; }
#formulario{margin: 0 auto; width: 400px; padding-top: 120px;}
.fieldset { border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -webkit-border-radius: 10px; background-image:url('../img/fundo2.png'); border: 1px solid #ccc;}
.fieldset legend { font-size: 20px; }
a{text-decoration: none; color: #555; font-weight: bold;}
	a:hover{color: #999; font-weight: bold;}
table{padding: 2px;width:200px;}
	tr{padding: 2px;}
	td{padding: 2px;}