*{margin: 0px; padding: 0px;}
body{background-color: #f9f9f9; height: 600px;}
#all{margin: 0 auto; width: 1024px; height: 600px;}
#top{padding:1px; background: #333; color: #ccc; font-family: "Trebuchet MS"; font-weight: bold; font-size: 16px;}
#center{width: 1024px; margin-top: 14px; height: 600px; background: #f1f1f1; border-radius:12px; box-shadow: 2px 2px 2px #999999;
font-family: "Trebuchet MS"; font-size: 14px;}
	span{overflow: hidden;}
	#center-top{margin: 0 auto; width: 1000px; height: 60px;}
	#sbv{padding: 4px; margin: 4px; float: left;}
	#confsair{float: right; padding: 4px; margin: 4px;}

#center-content{margin: 0 auto; width: 900px; height: 450px; background-color: #fff; }

#formulario{margin: 0 auto; width: 400px; padding-top: 120px;}
.fieldset { border-radius: 10px; -moz-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -webkit-border-radius: 10px; background-image:url('../img/fundo2.png'); border: 1px solid #ccc;}
.fieldset legend { font-size: 20px; }
table{padding: 2px;}
	tr{padding: 2px;}
	td{padding: 2px;}

	#desc{width: 300px;}
	#preco{width: 50px;}
	#datafab{width: 100px;}

	#selecione{text-align: center;}
	.c1{text-align: right;}
	.c2{text-align: left;}
	a{text-decoration: none; color: #555; font-weight: bold;}
	a:hover{color: #999; font-weight: bold;}


	/*#logo{width: 200px; height: 450px; float: left;}
	#line1{width: 2px; height: 420px; background-color: #ccc; float: left;}
	#menu{width: 680px; height: 420px; background-image:url('../img/fundo2.png'); float: right; margin-right: 8px; border-radius: 5px;}
		.tabela{text-align: center; vertical-align: middle; padding: 2px; margin: 2px;}
		.titulo-menu{background-color: #333; color: #e1e1e1;}
		td{background-color: #e1e1e1; padding: 7.5px; border-radius: 12px;}
		a{text-decoration: none; color: #555; font-weight: bold;}
		a:hover{color: #999; font-weight: bold;}*/