*{margin: 0px; padding: 0px;}
body{background-color: #CFF; height: 700px;}
#all{margin: 0 auto; width: 1024px; height: 700px;}
#top{padding:1px; background: #333; color: #ccc; font-family: "Trebuchet MS"; font-weight: bold; font-size: 16px;}
#center{width: 1024px; margin-top: 14px; height: 720px; background: #6FF; border-radius:12px; box-shadow: 2px 2px 2px #999999;
font-family: "Trebuchet MS"; font-size: 14px;}
	span{overflow: hidden;}
	#center-top{margin: 0 auto; width: 1000px; height: 60px;}
	#sbv{padding: 4px; margin: 4px; float: left;}
	#confsair{float: right; padding: 4px; margin: 4px;}
#center-content{margin: 0 auto; width: 900px; height: 650px; background-color: #fff;}
	#logo{width:200px; height: 450px; float: left;}
	.logo-titulo{font: 14px "Trebuchet MS", Arial, sans-serif;}
	#line1{width: 2px; height: 600px; background-color: #ccc; float: left;}
	#menu{width: 680px; height: 620px; background-color:#EBF7FA; float: right; margin-right: 8px; border-radius: 5px;}
		.tabela{text-align: center; vertical-align: middle; padding: 1px; width: 600px; font-size:12px;}
		.titulo-menu{background-color: #333; color: #e1e1e1;}
		td{text-align:right; background-color: #e1e1e1; color: #333; padding:3px; border-radius: 1px; font-size:14px;}
		/*#topo-tabela{background-color: #e1e1e1; color: #333; padding:2px;}*/
		#conteudo-tabela{background-color: #fff; color: #333; padding:2px;}
		a{text-decoration: none; color: #333;}
		a:hover{color: #e1e1e1; font-weight: bold;}
.botao{background-color:#999; padding:2px; text-decoration:none; border-radius:3px;}
#tblcadastrarvaga{font-size:14px;}
#branco{background-color:#fff; text-align:left;}
#separacao{background-color:transparent;}
#titulo{font-size:16px; background-color:#2A1F55; color:#e1e1e1; text-align:center; font-weight:bold; border-radius:5px;}
#descricaomural{background-color:#FFF; text-align:center; padding:5px;}
#espacamento{padding:2em;}
#vagas{margin:0 auto; width: 500px; height: 600px; overflow:auto;}

#footer{background-color: #2A1F55; padding: 2em; margin-top:2em;}
#info{margin: 0 auto; width:500px;}
#tabela-foot{text-decoration:none; background-color:transparent; color:#e1e1e1; font-size:12px; font-weight:bold;}