*{margin: 0px; padding: 0px;}
body{background-color:#CFF; height: 600px;}
#all{margin: 0 auto; width: 1024px; height: 600px;}
#top{padding:1px; background: #333; color: #ccc; font-family: "Trebuchet MS"; font-weight: bold; font-size: 16px;}
#center{width: 1024px; margin-top: 14px; height: 680px; background:#6FF; border-radius:12px; box-shadow: 2px 2px 2px #999999;
font-family: "Trebuchet MS"; font-size: 14px;}
	span{overflow: hidden;}
	#center-top{margin: 0 auto; width: 1000px; height: 60px;}
	#sbv{padding: 4px; margin: 4px; float: left;}
	#confsair{float: right; padding: 4px; margin: 4px;}
#center-content{margin: 0 auto; width: 900px; height: 600px; background-color: #fff;}
#form-login{margin-left:2em; width: 400px; width: 300px; padding-top: 10px; float:left;}
#woman{margin-top:16px;}
#empresas{width: 200px; height: 100px; padding: 10px;}
table{padding: 16px; background-color:#EBF7FA; border-radius: 8px;}
#line1{width: 1px; height: 570px; margin-top:1em; background-color: #ccc; float: left;}
#cadastrese{margin-left:2em; width: 500px; heigth: 600px; padding-top: 10px; float:left;}
#tblcadastrese{width:520px; height:400px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px;}
	#tbl1{text-align:right;}
	#tbl2{text-align:left;}
	#inputtexto{padding: 3px; width: 350px;}
	#inputselect{padding: 3px; width: 250px;}
	#inputnumeros{padding: 3px; width: 180px;}
	.inputuf{padding: 3px; width: 60px;}

	
	tr{padding: 2px;}
	td{padding: 2px;}
	#login{padding: 8px; font-style: italic; font-size: 16px;}
	#senha{padding: 8px; font-style: italic; font-size: 16px;}
	#logar{padding: 6px;}

	a{text-decoration: none; color: #555; font-weight: bold;}
		a:hover{color: #999; font-weight: bold;}